{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index3.css'%}">
    <link rel="stylesheet" href="https://use.typekit.net/njp8whm.css">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="uno">
            <div class="libro">
                <a href="/tres"><button class="leer">Leer</button></a>
            </div>
        </div>
        <div class="dos">
            <div class="libro2">
                <a href="/seis"><button class="leer">Leer</button></a>
            </div>
        </div>

        <div class="cerrar">
            <div class="cerrar-bt">
                {% if user.is_authenticated %}
                <a href="">{{ user.username }}</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {%else%}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif%}
            </div>       
        </div>

    </div>
    
</body>
</html>